<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <meta charset="utf-8">
  <title>Crypto Lookup</title>
</head>

<body class="body-home">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index.html"><div class="logo" style="margin-right: .3em;">CBP</div> Cryptocurrency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index.html">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="app" class="content-wrap-home">
    <h1 style="font-family: Ubuntu; margin-bottom: -.2em;">Coinbase Pro</h1>
    <h1 style="font-family: Ubuntu; font-size: 4em; margin-bottom: .6em;">Crypto Lookup</h1>
    <h2><div class="HST">Enter any crypto abbreviation below for<br>trading stats of the cypto to appear.</div></h2>
    <form v-on:submit.prevent="getResults">
      <input v-model="value" placeholder="i.e. btc, eth, etc."></input>
      <button type="submit">Search</button>
    </form>
    <div class="cryptoName">
      <div v-if="error">
        <h2>That is not a valid crypto abbreviation.</h2>
      </div>
      <div v-else>
        <h2 v-if="basePair">Base Pair: {{basePair}}</h2>
        <h2 v-if="minTrans && baseCurr">Min Transaction: {{minTrans}}{{baseCurr}}</h2>
        <h2 v-if="maxTrans && baseCurr">Max Transaction: {{maxTrans}}{{baseCurr}}</h2>
        <h2 v-if="minFunds && maxFunds">Min to Max Funds per Trade: {{minFunds}}-{{maxFunds}}</h2>
      </div>
    </div>
  </div> <!--END OF CONTENT-->
  <footer>
    <div class="bg-secondary text-white top">
      <div><a href="https://github.com/d-goods/cp3">GitHub</a></div>
    </div>
    <div class="bg-dark text-white-50 bottom">
      <p>This is the fake copyright ©</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script text="type/javascript" src="/script.js"></script>
</body>

</html>